*{
    box-sizing: border-box;
    border:0;
    margin:5px;
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container input{
    font-size:40px;
    border: 2px solid black;
}
.container button{
    font-size: 30px;
    border: 2px solid black;
    
}
.instructions{
    
}